<!-- PIE DE PÁGINA -->
<footer class="footer"
  style="background-color: #dfe6e9; padding: 5px; position: relative; top: 150px; font-size: 18px; font-family: 'Times New Roman', Times, serif;">

  <center>

    <a target="nav" href="https://www.facebook.com/" style="padding: 5px;">
      <img src="https://img.icons8.com/ios/500/facebook--v1.png" alt="" width="3.5%" title="Facebook">
    </a>

    <a target="_blank" href="https://www.instagram.com/" style="padding: 5px;">
      <img src="https://cdn-icons-png.flaticon.com/512/87/87390.png" alt="" width="3%" title="Instagram">
    </a>

    <a target="_blank" href="https://twitter.com/" style="padding: 5px;">
      <img src="https://cdn-icons-png.flaticon.com/512/60/60580.png" alt="" width="3%" title="Twitter">
    </a>

    <a target="_blank" href="https://www.youtube.com/" style="padding: 5px;">
      <img src="https://cdn-icons-png.flaticon.com/512/48/48968.png" alt="" width="4%" title="YouTube">
    </a>

  </center>

  <div class="container footer__grid" style="padding-bottom: 1px;">
    <center>
      <section class="footer__contact " id="seccion4">
        <p class="footer__title" style="padding-top: 20px;">Todos los derechos reservados © Copyright 2021</p>
        <p><b>EQUIPO ROCKET</b></p>
        <P>Anthony Montes Matias | Adonis Jaime Castro</P>
    </center>
    </section>
  </div>

</footer>