<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">

    <a class="navbar-brand ml-auto" href="#">
        <div class="d-flex justify-content-center align-items-center m-0">
            <img src="https://media.cdnandroid.com/item_images/1264344/imagen-cinestar-0thumb.jpeg" width="40"
                alt="Logo" class="m-0">
            <p class="text-light m-0 ms-2">CineStar</p>
        </div>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
    <ul class="navbar-nav ms-auto mb-2 mb-sm-0">
        <li class="nav-link">
            <a class="nav-link active" aria-current="page" href="/inicio">INICIO</a>
        </li>
        <li class="nav-link">
            <a class="nav-link active" href="/entradas/list">ENTRADAS</a>
        </li>
        <li class="nav-link">
            <a class="nav-link active" href="/productos/list">CONFITERÍA</a>
        </li>
        <li class="nav-link">
            <a class="nav-link active" href="/iniciar/sesion">| INICIAR SESIÓN</a>
        </li>
    </ul>
    </div>
</nav>
<!-- para cambiar de color solo cambiamos light por dark-->